<launch>
  <arg name="publish_pos" default="false"/>
  <arg name="publish_wrist" default="true"/>
  <arg name="left_arm" default="true"/>
  <arg name="right_arm" default="false"/>

  <group if="$(arg right_arm)">
   <node name="pr2_right_arm_control"  pkg="unity_pr2_beginner" type="pr2_arms_control" output="screen">
        <param name="publish_pos" value="$(arg publish_pos)"/>
        <param name="publish_wrist" value="$(arg publish_pos)" />
        <rosparam command="load" file="$(find unity_pr2_beginner)/config/pr2_right_arm_jog.yaml"/>
   </node>
  </group>

  <group if="$(arg left_arm)">
     <node name="pr2_left_arm_control"  pkg="unity_pr2_beginner" type="pr2_arms_control" output="screen">
        <param name="publish_pos" value="$(arg publish_pos)"/>
        <param name="publish_wrist" type="bool" value="false" />
        <rosparam command="load" file="$(find unity_pr2_beginner)/config/pr2_left_arm_jog.yaml"/>
      </node>
    </group>

</launch>
