<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="pr2_tilting_laser_transmission_v0" params="name">
    <transmission name="${name}_mount_trans">
      <type>pr2_mechanism_model/SimpleTransmission</type>
      <actuator name="${name}_mount_motor">
        <mechanicalReduction>-6.05</mechanicalReduction>
      </actuator>
      <joint name="${name}_mount_joint">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
    </transmission>
  </xacro:macro>
</robot>
