<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="pr2_torso_transmission_v0" params="name">

    <transmission name="${name}_trans">
      <type>pr2_mechanism_model/SimpleTransmission</type>
      <actuator name="${name}_motor">
        <mechanicalReduction>-47641.53</mechanicalReduction>
      </actuator>
      <joint name="${name}_joint">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <simulated_actuated_joint name="${name}_motor_screw_joint"
                                simulated_reduction="3141.6" />
    </transmission>

  </xacro:macro>



</robot>
